<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.1, minimum-scale=1.0 ">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1 style="color: red">    Error: user with this email already exist
    </h1>
</div>

</body>
</html>
