<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.1, minimum-scale=1.0 ">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{#each users}}
    <div style="background-color: aquamarine">{{this.nikName}}</div>
    <div style="background-color: lightgray">{{this.email}} </div>
    <div style="background-color: lightgray"> {{this.password}}</div>
{{/each}}


</body>
</html>
